---
apiVersion: v1
kind: Secret
metadata:
  name: tiktok-db-secrets
  namespace: {{ .Values.namespace | default "default" }}
type: Opaque
stringData:
  DB_PASSWORD: {{ .Values.postgresql.auth.password | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgresql.auth.password | quote }}

---
apiVersion: v1
kind: Secret
metadata:
  name: tiktok-jwt-secrets
  namespace: {{ .Values.namespace | default "default" }}
type: Opaque
stringData:
  JWT_ACCESS_SECRET: {{ .Values.secrets.jwt.accessSecret | quote }}
  JWT_REFRESH_SECRET: {{ .Values.secrets.jwt.refreshSecret | quote }}

---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secrets
  namespace: {{ .Values.namespace | default "default" }}
type: Opaque
stringData:
  GF_SECURITY_ADMIN_PASSWORD: {{ .Values.secrets.grafana.adminPassword | quote }}
